Palindrome(number or word which is same after reversing)

In [ ]:
a='nitin'.

if a==a[::-1]:
    print(f"{a} is palindrome")
else:
    print(f"{a} is not palindrome")

In [ ]:
def check_palindrome(world:str):
    if type(world)==str:
        if world==world[::-1]:
            return 'palindrome'
        else:
            return 'not a palindrome'
    else:
        return 'invalid datatype'
check_palindrome(121)

Fibonachi Series

In [ ]:
def give_fibo(n):
    fibo = [0,1]
    for i in range(n-2):
        last_num=fibo[-1]
        second_last_num=fibo[-2]
        next_num=last_num+second_last_num
        fibo.append(next_num)
    return fibo
print(give_fibo(5))

PRIME NUMBER

In [ ]:
def check_prime(number):
    for i in range(2,number):
        if (number%i==0):
            print(f"{number} is not prime")
            break
    else:
        return f"{number} is prime"
check_prime(7)

Pattern building

In [ ]:
n=int(input("enter a number: "))
for i in range(1,n+1):
    print(i*'*')

In [ ]:
n=int(input("enter a number: "))
for i in range(1,n+1):
    print(" "*(n-i) + i*"*")

In [ ]:
n=int(input("enter a number: "))
for i in range(1,n+1):
    print(" "*(n-i) + i*"* ")

In [ ]:
def pattern_building():
        n=int(input("enter a number: "))
        for i in range(1,n+1):
            print(" "*(n-i) + i*"* ")
pattern_building()

In [ ]:
def print_star(n = 5, typ = 'mid',shape="LOL"):
  if typ  == 'left':
    space  = ''

  elif typ == 'right':
    space = '  '

  elif typ == 'mid':
    space = ' '

  for i in range(1,n+1):
    print(space*(n-i) + i*f'{shape}')
print_star()

In [ ]:
def sum(number):
    result=0
    for i in range(1,number+1):
        result += i
        print(result)
sum(15)

Factorial

In [ ]:
def factorial(n):
    result=1
    for i in range(1,n+1):
        result *= i
        print(result)
factorial(3)

In [ ]:
def total_sales(*args):
    result=0
    for i in args:
        result+=i
    return result
total_sales(1,2,54,123,678)

In [ ]:
sales=[45678,56,84,22,11]
def mini(*args):
    min_element=sales[0]
    for i in sales[1:]:
        if (i<min_element):
            min_element=i
    return min_element
mini()

11

In [76]:
def maxi(*args):
    max_element=sales[4]
    for i in sales[:4]:
        if(i>max_element):
            max_element=i
    return max_element
maxi()

45678

In [95]:
company=["ola","uber","tata","adani"]
def add_hashtag(*company):
    result=[]
    for i in company:
        result.append("#"+i.upper())
    return result
add_hashtag(*company)

['#OLA', '#UBER', '#TATA', '#ADANI']

In [111]:
def store_records(name,age,sec,Roll_no,Class):
    data={'name':name,'age':age,'sec':sec,'Roll_no':Roll_no,'Class':Class}
    import pandas as pd
    result=pd.DataFrame(data,index=[0])
    return result
store_records('shreeyansh',20,'A',59,12)

         name  age sec  Roll_no  Class
0  shreeyansh   20   A       59     12

In [20]:
def store_records(**kwargs): #kwargs refers to dictionary
    import pandas as pd
    try:
        data=pd.DataFrame(kwargs)
        return data
    except:
        data=pd.DataFrame(kwargs,index=[1])
        return data
store_records(name=["ajay","shreeyansh"],age=[22,20],address=["delhi","mumbai"],sec=['a','b'])

         name  age address sec
0        ajay   22   delhi   a
1  shreeyansh   20  mumbai   b