# Int,float, Complex = Numerical

In [ ]:
a=5678
print(a,type(a))

In [ ]:
b=12.56
print(b,type(b))

In [ ]:
a=456+8j
print(a,type(a))

# Str, double, triple

In [ ]:
a="hello python"
print(a,type(a))

In [ ]:
poem='''Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are



Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are'''

print(poem)

TUPLE

In [ ]:
#tuple
a=(2,3234,5,62434)
print(a,type(a))

In [ ]:
#tuple
a+(2,)
print(a,type(a))

TYPECASTING

In [ ]:
a=list(a)
a[3]=3000
a=tuple(a)
print(a,type(a))

SET

In [ ]:
std_id=[2,2,34,3,2,2,1,1,1,1,5,5,5,5,5]
print(std_id)

In [ ]:
std_id=list(set(std_id))
print(std_id,type(std_id))

DICTIONARY

In [ ]:
a={'name':'aman','age':23,'address':'delhi'}
print(a,type(a))

In [ ]:
a['name']='aman kumar'
print(a)

In [ ]:
data={'region':['north','south','east','west'],'sales':[345,546,453.456],'profit':[120,200,96,78]}

In [ ]:
import pandas as pd
data={'region':['north','south','east','west'],'sales':[345,546,453,456],'profit':[120,200,96,78]}
table=pd.DataFrame(data)
print(table)

# salary = 56789

# >= 50: manager
# >= 30: Jr manager
# >= 20: Executive
# Intern

In [7]:
salary=27000
if salary >= 50000:
    print('manager')
elif salary >=30000:
    print('jr manager')
elif salary>=20000:
    print('executive')
else:
    print('intern')

executive

In [ ]:
import random
random.randint(1,10)

RANDOM GAME

In [ ]:
user_attempts = 3
import random
for i in range(user_attempts):
  comp_choice = random.randint(1,10)
  user_choice = int(input('Enter your Choice(1-10): '))

  print(f'''
  User choice: {user_choice}
  Computer Choice: {comp_choice}''')

  if user_choice == comp_choice:
    print('User Won, Comp Lose!!')
  else:
    print('Better Luck next time!!')

KBC PROGRAM

In [ ]:
Questions = {1:'What is the capital of Australia?',
             2:'Who invented the telephone?',
             3:'Which planet is known as the Red Planet?',
             4:'In which year did India gain independence?',
             5:'What is the largest organ in the human body?'}

options = {1:'''A) Sydney
B) Melbourne
C) Canberra
D) Perth''',
           2:'''A) Albert Einstein
B) Isaac Newton
C) Alexander Graham Bell
D) Thomas Edison''',
           3:'''A) Earth
B) Venus
C) Jupiter
D) Mars''',
           4:'''A) 1945
B) 1946
C) 1947
D) 1950''',
           5:'''A) Liver
B) Brain
C) Skin
D) Heart'''}


correct_op = ['B','C','D','C','C']

for i in range(1,len(Questions)+1):
    print(Questions[i])
    print(options[i])
    user_choice = input('Enter your choice: ').upper()
    correct_ans = correct_op[i-1]
    print(correct_ans)
    win_ammount=0
    if user_choice == correct_ans:
        win_ammount += 10000
        print("7 CRORE")
        print(end = '\n'*3)
    else:
        print('Better luck next time!!')
        break
print('Total Amount Won',win_ammount)

VOTING PROGRAM MULTI LINE

In [6]:
def vote():
    age=int(input("enter your age:"))
    print(age)
    if(age>=18):
        print("eligible for vote")
    else:
        print("not eligible to vote")
vote()

enter your age: 19

19
eligible for vote

VOTING PROGRAM SINGLE LINE

In [ ]:
def vote(age):
  print('can Vote!!') if age >= 18 else print('can not Vote!!')
vote(4)

In [ ]:
pip install gTTs

SOUNDBOX PROGRAM

In [11]:
from gtts import gTTS
def soundbox(paisa):
    text=f"paytm pe {paisa} prapt huye"
    audio=gTTS(text)
    audio.save("paytm.mp3")
    import pygame as pg
    pg.init()
    music=pg.mixer.Sound('paytm.mp3')
    music.play()
soundbox(2000)

In [ ]:
pip install pygame